@import "tailwindcss";

@theme {
  /* https://www.figma.com/design/vFrOccFrsTHGNQpq3iIyMO/SIZZ_Design?node-id=2-2291&t=2EjgMyL0x6WzL1w0-0 */
  --color-primary-10: #c3d7ff;
  --color-primary-30: #3d3dbd;
  --color-primary-60: #0f0f43;
  --color-primary-90: #000090;

  --color-coolGray-10: #f2f4f8;
  --color-coolGray-20: #dde1e6;
  --color-coolGray-30: #c1c7cd;
  --color-coolGray-40: #a2a9b0;
  --color-coolGray-50: #878d96;
  --color-coolGray-60: #697077;
  --color-coolGray-70: #4d5358;
  --color-coolGray-80: #343a3f;
  --color-coolGray-90: #21272a;
  --color-coolGray-100: #121619;

  --color-error: #ff454f;
  --color-success: #70ff45;
  --color-warning: #ffe345;
}

@import "tw-animate-css";

@layer utilities {
  .typo-title {
    font-size: 2rem;
    font-weight: 700;
  }
  .typo-content {
    font-size: 1.666rem;
    font-weight: 400;
  }
}

@custom-variant dark (&:is(.dark *));

*/ dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
